extends layout.pug

block content
    div.menu.col-md-3
        h2 Menu
        div.submenu
            h3 Orders
            p List
            p Create
        div.submenu
            h3 Rewards
            p List
            p Create
        div.submenu
            h3 Users
            p List
    block admin